<div class="tile is-ancestor is-center is-half-mobile is-one-third-tablet is-one-quarter-desktop" style="margin-left:25%">
  <div class="tile  is-vertical is-8 is-mobile is-center">
    <div class="tile">
      <div class="tile is-parent is-vertical is-center is-half-mobile is-one-third-tablet is-one-quarter-desktop">
        <article class="tile is-child notification is-primary is-center is-half-mobile is-one-third-tablet is-one-quarter-desktop">
          <p class="title" >Tecnologia</p>
          <p class="subtitle">Lo mas </p>
        </article>
        <article class="tile is-child notification is-warning is-center is-half-mobile is-one-third-tablet is-one-quarter-desktop">
          <p class="title">Cultura Geek</p>
          <p class="subtitle"></p>
        </article>
      </div>
      <div class="tile is-parent is-center is-half-mobile is-one-third-tablet is-one-quarter-desktop">
        <article class="tile is-child notification is-info is-center is-half-mobile is-one-third-tablet is-one-quarter-desktop">
          <p class="title">Musica</p>
          <p class="subtitle">La musica en ti</p>
          <figure class="image is-4by3">
            <img src="..\..\..\assets\images\imgmusic.jpg">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent is-mobile is-center">
      <article class="tile is-child notification is-danger is-center is-half-mobile is-one-third-tablet is-one-quarter-desktop">
        <p class="title">Diseños de la comunidad</p>
        <p class="subtitle">Descubre la creatividad colectiva!</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
</div>
<br/><br/>
<h1 class="title is-3 has-text-centered">Lo mas buscado</h1>

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="..\..\..\assets\images\img1.jpg" style="width:100%">
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="..\..\..\assets\images\img2.jpg" style="width:100%">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="..\..\..\assets\images\img3.jpg" style="width:100%">
  <div class="text">Caption Three</div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>