	<div class="BannerPrincipal columns is-mobile" style="margin: 0">

			<img class="animated fadeIn" src="../../../assets/images/Banner.jpg">

		<div class="column is-4-desktop is-offset-2-desktop is-6-tablet is-offset-3-tablet is-6-mobile is-offset-3-mobile ">

			<h1 class="animated fadeInLeft title">
				GeekShop
			</h1>

			<h2 class="animated fadeInLeft subtitle">
				Aqui encontraras playeras con disenos unicos!
			</h2>

			<a class="button is-primary is-large animated fadeInLeft ">
				Conoce mas
  			</a>

		</div>

		<div class="column is-4 is-offset-1 is-hidden-tablet-only is-hidden-desktop-only">

			<img id="im1" class="animated fadeInRight" src="../../../assets/images/imagen1.png">

			<img id="im2" class="animated fadeInRight" src="../../../assets/images/imagen2.png">

		</div>


	</div>

	<div class="BannerCaracteristicas">

		<h2 class="title">
			Bienvenido a GeekShop!
		</h2>

		<h3 class="subtitle">
			Estas en una tienda online con disenos geniales creados por nosotros mismos
		</h3>

			<div class="columns">
				<div id="cua1" class="column Rectangulo">

				<span class="icon is-large IconSuperior">
  					<i class="fa fa-child"></i>
				</span>

				<p class="subtitle">
					Encuentra las playeras en la talla que necesitas, no en la que haya!
				</p>

				<span class="icon is-medium iconInferior">
  					<i class="fa fa-arrow-left"></i>
				</span>

			</div>

			<div id="cua2" class="column is-offset-1 Rectangulo">

				<span class="icon is-large iconSuperior">
  					<i class="fa fa-shield"></i>
				</span>

				<p class="subtitle">
					Gracias a conekta, no tienes que preocuparte ni un segundo por los pagos que quieras hacer
				</p>

				<span class="icon is-medium iconInferior">
  					<i class="fa fa-arrow-left"></i>
				</span>

			</div>

			<div id="cua3" class="column is-offset-1 Rectangulo">

				<span class="icon is-large iconSuperior">
  					<i class="fa fa-heart"></i>
				</span>

				<p class="subtitle">
					No te convence lo que ves? crea tu propia playera como a ti te guste!
				</p>

				<span class="icon is-medium iconInferior">
  					<i class="fa fa-arrow-left"></i>
				</span>

			</div>
		</div>
</div>

	<div class="parallax columns" style="margin: 0">

		<img src="../../../assets/images/geek1.jpg" class="column is-hidden-widescreen">

		<span class="column is-12-mobile is-8-tablet is-offset-2-tablet">
			Tienes un diseno propio al que quieres darle vida en una playera? Subelo! y crea una playera realmente tuya
		</span>

	 	<a class="button is-primary is-large animated fadeInDown column is-2-tablet is-offset-5-tablet is-2-mobile is-offset-5-mobile">
			UMaker!
		</a>

	</div>
