<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>GeekShop</title>

</head>
<header>
    <nav class="nav has-shadow">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item">
                    <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
                </a>
            </div>
            <div class="nav-center">
                <a class="nav-item is-tab is-hidden-mobile is-active">Mujeres</a>
                <a class="nav-item is-tab is-hidden-mobile">Hombres</a>
                <a class="nav-item is-tab is-hidden-mobile">Descuentos</a>
                <a class="nav-item is-tab is-hidden-mobile">UMarker!</a>
            </div>
            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>

            <div class="nav-right nav-menu">
                <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
                <a class="nav-item is-tab is-hidden-tablet">Features</a>
                <a class="nav-item is-tab is-hidden-tablet">Pricing</a>
                <a class="nav-item is-tab is-hidden-tablet">About</a>
                <a class="nav-item is-tab"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a class="nav-item is-tab">
                    <figure class="image is-16x16" style="margin-right: 8px;">
                    <img src="http://bulma.io/images/jgthms.png">
                    </figure>
                    Profile
                </a>
                <a class="nav-item is-tab">Log out</a>
                <a class="nav-item is-tab"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </div>
        </div>
    </nav>
</header>

<link href="..\..\..\assets\node_modules\bulma\css\bulma.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="..\..\..\assets/css/main.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
<script src="app.js"></script>
<script src="landingComponent.js"></script>


<body>
<br/><br/>

<div class="tile is-ancestor is-center is-half-mobile is-one-third-tablet is-one-quarter-desktop" style="margin-left:25%">
  <div class="tile  is-vertical is-8 is-mobile is-center">
    <div class="tile">
      <div class="tile is-parent is-vertical is-center is-half-mobile is-one-third-tablet is-one-quarter-desktop">
        <article class="tile is-child notification is-primary is-center is-half-mobile is-one-third-tablet is-one-quarter-desktop">
          <p class="title" >Tecnologia</p>
          <p class="subtitle">Lo mas </p>
        </article>
        <article class="tile is-child notification is-warning is-center is-half-mobile is-one-third-tablet is-one-quarter-desktop">
          <p class="title">Cultura Geek</p>
          <p class="subtitle"></p>
        </article>
      </div>
      <div class="tile is-parent is-center is-half-mobile is-one-third-tablet is-one-quarter-desktop">
        <article class="tile is-child notification is-info is-center is-half-mobile is-one-third-tablet is-one-quarter-desktop">
          <p class="title">Musica</p>
          <p class="subtitle">La musica en ti</p>
          <figure class="image is-4by3">
            <img src="..\..\..\assets\images\imgmusic.jpg">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent is-mobile is-center">
      <article class="tile is-child notification is-danger is-center is-half-mobile is-one-third-tablet is-one-quarter-desktop">
        <p class="title">Diseños de la comunidad</p>
        <p class="subtitle">Descubre la creatividad colectiva!</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
</div>
<br/><br/>
<h1 class="title is-3 has-text-centered">Lo mas buscado</h1>

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="..\..\..\assets\images\img1.jpg" style="width:100%">
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="..\..\..\assets\images\img2.jpg" style="width:100%">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="..\..\..\assets\images\img3.jpg" style="width:100%">
  <div class="text">Caption Three</div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex> slides.length) {slideIndex = 1}
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 3000); // Change image every 2 seconds
}
</script>
<br><br><br><br>

</body>

<footer class="columns">
    <div class="menu_container-footer column is-three-quarters">
        <div class="nav-right">
            <a class="nav-item is-tab is-hidden-mobile is-active">Mujeres</a>
            <a class="nav-item is-tab is-hidden-mobile">Hombres</a>
            <a class="nav-item is-tab is-hidden-mobile">Descuentos</a>
            <a class="nav-item is-tab is-hidden-mobile">UMarker!</a>
        </div>
    </div>
    <div class="social_container column">
        <span class="social_header" >Siguenos!</span>
        <span><i class="fa fa-pinterest" aria-hidden="true"></i></span>
        <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
        <span><i class="fa fa-facebook-square" aria-hidden="true"></i></span>
    </div>
</footer>

<script src="..\..\..\assets\node_modules\jquery\dist\jquery.js"></script>
</html>
