<div style="position: relative">
	<img class="animated fadeIn" src="/assets/images/BannerPrueba5.jpg" style="width: 100%; height:500px; position: relative">
		<div class="animated fadeInLeftBig" style="position: absolute; top: 150px;
		font-size: 40px; font-weight: 400; font-style: normal; color: #FFFFFF; left: 200px;">
		GeekShop
		</div>
		<div class="animated fadeInLeft" style="position: absolute; top: 220px; font-size: 25px; font-weight: bold; font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif; font-style: normal; color: #FFFFFF; left: 200px">
		Aquí encontraras playeras con diseños únicos!
		</div>
		<a class="button is-primary is-large animated fadeInLeft" style="bottom:200px; left: 200px" >Conoce mas</a>
		<img class="animated fadeInRight" src="/assets/images/imagen1.png" style="position: absolute; top: 75px; right:250px; height: 300px; width: 300px ">
		<img class="animated fadeInRight" src="/assets/images/imagen2.png" style="position: absolute; top: 75px; right:300px; height: 300px; width: 300px ">
	</img>
</div>

<div style="font-size: 36px; text-align: center; font-weight: bold; position:relative;">
	Bienvenido a GeekShop!
</div>
<div style="font-size: 25px; text-align: center; position:relative;">
	Estas en una tienda online con disenos geniales creados por nosotros mismos
</div>
<br/><br/><br/>

<section style="width: 80%; margin-left: 10%; height: 30%; position: relative">
	<article style="width: 25%; left: 0; border-style: solid; height: 100%; position: absolute; border-radius: 15px" class="Recatangulo">
		<div style="position: absolute; width: 100%; text-align: center; text">

		</div>
	</article>

	<article style="width: 25%; left: 38%; border-style: solid; height: 100%; position: absolute; border-radius: 15px" class="Recatangulo">
		<div style="position: absolute">

		</div>
	</article>

	<article style="width: 25%; right: 0; border-style: solid; height: 100%; position: absolute; border-radius: 15px" class="Recatangulo">
		<div style="position: absolute">

		</div>
	</article>
</section>
