



	

	<div id="cd-shadow-layer"></div>

	<div id="cd-cart">
		<h2>Cart</h2>
		<ul class="cd-cart-items">
			<li>
				<span class="cd-qty">1x</span> Product Name
				<div class="cd-price">$9.99</div>
				
				<a class="borrar" href=""><i class="fa fa-times" aria-hidden="true"></i></a>
			</li>
			<li>
				<span class="cd-qty">1x</span> Product Name
				<div class="cd-price">$9.99</div>
				
				<a class="borrar" href=""><i class="fa fa-times" aria-hidden="true"></i></a>
			</li>
			<li>
				<span class="cd-qty">1x</span> Product Name
				<div class="cd-price">$9.99</div>
				
				<a class="borrar" href=""><i class="fa fa-times" aria-hidden="true"></i></a>
			</li>
		</ul> <!-- cd-cart-items -->

		<div class="cd-cart-total">
			<p>Total <span>$39.96</span></p>
		</div> <!-- cd-cart-total -->

		<a href="#/checkout" class="checkout-btn">Checkout</a>
		
		<p class="is-primary cd-go-to-cart"><a href="#">Go to cart page</a></p>
	</div> <!-- cd-cart -->

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>