



	

	<div id="cd-shadow-layer"></div>

	<div id="cd-cart">
		<h2 align="center"><i class="fa fa-shopping-cart" aria-hidden="true"></i></h2>
		<ul class="cd-cart-items">
		
			<li>
				<article class="media">
				  <figure class="media-left">
				    <p class="image is-64x64">
				      <img src="/assets/images/playera1.jpg">
				    </p>
				  </figure>
				  <div class="media-content">
				    <div class="content">
				      <p>
				        <strong>Playera color negro</strong> 
				        <br>
				      </p>
				    </div>
				    <nav class="level">
				      <div class="level-left">
				         <a class="button is-small">
					    <span class="icon is-small">
					      <i class="fa fa-minus"></i>
					    </span>
					    
					  </a>
							<span class="cantidad">5</span>	        
				        <a class="button is-small">
						    <span class="icon is-small">
						      <i class="fa fa-plus"></i>
						    </span>
						    
						  </a>
				        	<span class="cantidad">Subtotal:</span><strong>$500</strong>
				      </div>
				    </nav>
				  </div>
				  <div class="media-right">
				    <button class="delete"></button>
				  </div>
				</article>
			</li>
			<li>
				<article class="media">
				  <figure class="media-left">
				    <p class="image is-64x64">
				      <img src="/assets/images/playera1.jpg">
				    </p>
				  </figure>
				  <div class="media-content">
				    <div class="content">
				      <p>
				        <strong>Playera color negro</strong> 
				        <br>
				      </p>
				    </div>
				    <nav class="level">
				      <div class="level-left">
				         <a class="button is-small">
					    <span class="icon is-small">
					      <i class="fa fa-minus"></i>
					    </span>
					    
					  </a>
							<span class="cantidad">5</span>	        
				        <a class="button is-small">
						    <span class="icon is-small">
						      <i class="fa fa-plus"></i>
						    </span>
						    
						  </a>
				        	<span class="cantidad">Subtotal:</span><strong>$500</strong>
				      </div>
				    </nav>
				  </div>
				  <div class="media-right">
				    <button class="delete"></button>
				  </div>
				</article>
			</li>
			<li>
				<article class="media">
				  <figure class="media-left">
				    <p class="image is-64x64">
				      <img src="/assets/images/playera1.jpg">
				    </p>
				  </figure>
				  <div class="media-content">
				    <div class="content">
				      <p>
				        <strong>Playera color negro</strong> 
				        <br>
				      </p>
				    </div>
				    <nav class="level">
				      <div class="level-left">
				         <a class="button is-small">
					    <span class="icon is-small">
					      <i class="fa fa-minus"></i>
					    </span>
					    
					  </a>
							<span class="cantidad">5</span>	        
				        <a class="button is-small">
						    <span class="icon is-small">
						      <i class="fa fa-plus"></i>
						    </span>
						    
						  </a>
				        	<span class="cantidad">Subtotal:</span><strong>$500</strong>
				      </div>
				    </nav>
				  </div>
				  <div class="media-right">
				    <button class="delete"></button>
				  </div>
				</article>
			</li>
			<li>
				<article class="media">
				  <figure class="media-left">
				    <p class="image is-64x64">
				      <img src="/assets/images/playera1.jpg">
				    </p>
				  </figure>
				  <div class="media-content">
				    <div class="content">
				      <p>
				        <strong>Playera color negro</strong> 
				        <br>
				      </p>
				    </div>
				    <nav class="level">
				      <div class="level-left">
				         <a class="button is-small">
					    <span class="icon is-small">
					      <i class="fa fa-minus"></i>
					    </span>
					    
					  </a>
							<span class="cantidad">5</span>	        
				        <a class="button is-small">
						    <span class="icon is-small">
						      <i class="fa fa-plus"></i>
						    </span>
						    
						  </a>
				        	<span class="cantidad">Subtotal:</span><strong>$500</strong>
				      </div>
				    </nav>
				  </div>
				  <div class="media-right">
				    <button class="delete"></button>
				  </div>
				</article>
			</li>
			<li>
				<article class="media">
				  <figure class="media-left">
				    <p class="image is-64x64">
				      <img src="/assets/images/playera1.jpg">
				    </p>
				  </figure>
				  <div class="media-content">
				    <div class="content">
				      <p>
				        <strong>Playera color negro</strong> 
				        <br>
				      </p>
				    </div>
				    <nav class="level">
				      <div class="level-left">
				         <a class="button is-small">
					    <span class="icon is-small">
					      <i class="fa fa-minus"></i>
					    </span>
					    
					  </a>
							<span class="cantidad">5</span>	        
				        <a class="button is-small">
						    <span class="icon is-small">
						      <i class="fa fa-plus"></i>
						    </span>
						    
						  </a>
				        	<span class="cantidad">Subtotal:</span><strong>$500</strong>
				      </div>
				    </nav>
				  </div>
				  <div class="media-right">
				    <button class="delete"></button>
				  </div>
				</article>
			</li>
			<li>
				<article class="media">
				  <figure class="media-left">
				    <p class="image is-64x64">
				      <img src="/assets/images/playera1.jpg">
				    </p>
				  </figure>
				  <div class="media-content">
				    <div class="content">
				      <p>
				        <strong>Playera color negro</strong> 
				        <br>
				      </p>
				    </div>
				    <nav class="level">
				      <div class="level-left">
				         <a class="button is-small">
					    <span class="icon is-small">
					      <i class="fa fa-minus"></i>
					    </span>
					    
					  </a>
							<span class="cantidad">5</span>	        
				        <a class="button is-small">
						    <span class="icon is-small">
						      <i class="fa fa-plus"></i>
						    </span>
						    
						  </a>
				        	<span class="cantidad">Subtotal:</span><strong>$500</strong>
				      </div>
				    </nav>
				  </div>
				  <div class="media-right">
				    <button class="delete"></button>
				  </div>
				</article>
			</li>
		</ul> <!-- cd-cart-items -->

		<div class="bot">
			<div class="cd-cart-total">
			<p>Total <span>$39.96</span></p>
		</div> <!-- cd-cart-total -->

		<a href="#/checkout">
			<div class="notification is-primary"><h3 align="center">Checkout</h3></div>
		</a>
		</div>
	</div> <!-- cd-cart -->