<div id="cd-shadow-layer"></div>

	<div id="cd-cart">
		<div align="center" class="cabin"><i class="fa fa-shopping-cart" aria-hidden="true"> Carrito</i></div>
		<ul class="cd-cart-items">
			<li ng-repeat="item in cart.details">
				<article class="media">
				  <figure class="media-left">
				    <p class="image is-64x64">
				      <img ng-src="{{item.product.image}}">
				    </p>
				  </figure>
				  <div class="media-content">
				    <div class="content">
				      <p>
								<strong>{{item.product.name}}</strong> 
				        <br>
				      </p>
				    </div>
				    <nav class="level">
				      <div class="level-left">

				         <a class="button is-small" ng-click="cart.removeProduct(item)" ng-class="{'is-disabled':item.quantity == 1}">
										<span class="icon is-small">
											<i class="fa fa-minus"></i>
										</span>
										
									</a>
									<span class="cantidad">{{item.quantity}}</span>	 
									<a class="button is-small" ng-click="cart.addProduct(item.product)">
										<span class="icon is-small">
											<i class="fa fa-plus"></i>
										</span>	    
									</a>
									<span class="cantidad">Subtotal:</span><strong>{{item.product.price * item.quantity}}</strong>

				      </div>
				    </nav>
				  </div>
				  <div class="media-right">
				    <button class="delete" ng-click="cart.deleteProduct(item.product.id)"></button>
				  </div>
				</article>
			</li>
		</ul> <!-- cd-cart-items -->

		<div class="bot">
			<div class="cd-cart-total">
			<p>Total <span>{{cart.total | currency}}</span></p>
		</div> <!-- cd-cart-total -->

		<a href="#/checkout">
			<div class="notification is-primary"><h3 align="center">Checkout</h3></div>
		</a>
		</div>
	</div> <!-- cd-cart -->