<div class="BannerProfile columns is-mobile" style="margin:0;">

	<div class="opacityProfile">
	</div>

		<img class="animated fadeIn" src="../../../assets/images/BannerUser.jpg">

		<div class="column is-6-widescreen is-offset-3-widescreen is-8-tablet is-offset-2-tablet is-8-mobile is-offset-2-mobile is-8-desktop is-offset-2-desktop">
			<h1 class="animated fadeInDown title" style="word-break: keep-all">
				Bienvenido NombreUsuario
			</h1>

			<h2 class="animated fadeInDown subtitle">
				Cambia como tu propio estilo
			</h2>
		</div>

		<div id="contenPerfil">
			<div class="profilepic">
				<div class="profileimg">
					<figure class="image is-96x96">
						<img src="/assets/images/user.png">
					</figure>
				</div>
			</div>
		</div>

</div

<section class="losusuarios">
	<div class="hero"  id="BARP">
		<div class="hero-body">
			<h1 class="title" align="center">Mi Perfil</h1>
		</div>
	</div>

		<article class="content" id="BABP">


			<div class="container">
				<div class="columns">

					<div class="PersonalInfo column is-3 is-offset-1 Title">
						<h3>Nombres</h3>
						<h3>Correo</h3>
						<h3>otro</h3>
						<h3>Nombre</h3>
					</div>


					<div class="column">
						<div class="tabs is-medium is-boxed">
						  <ul>
						     <li ng-class = "{'is-active':isSelected(1)}"><a href ng-click="selectTab(1)"><span class="icon is-small"><i class="fa fa-paper-plane"></i></span> Direcciones</a></li>
						     <li ng-class = "{'is-active':isSelected(2)}"><a href ng-click="selectTab(2)"><span class="icon is-small"><i class="fa fa-shopping-bag"></i></span>Compras</a></li>
						     <li ng-class = "{'is-active':isSelected(3)}"><a href ng-click="selectTab(3)"><span class="icon is-small"><i class="fa fa-magic"></i></span>Wishlist</a></li>
						     <li ng-class = "{'is-active':isSelected(4)}"><a href ng-click="selectTab(4)"><span class="icon is-small"><i class="fa fa-paint-brush"></i></span>Diseños</a></li>
						  </ul>

						</div>

						<div class="panel" ng-show="isSelected(1)">Direcciones</div>
						<div class="panel" ng-show="isSelected(2)">Compras</div>
						<div class="panel" ng-show="isSelected(3)">
							<div class="whish">
								<div class="card">
								  <div class="card-image">
								    <figure class="image is-128x128">
								      <img src="/assets/images/playera1.jpg" alt="Image">
								    </figure>
								  </div>
								  <div class="card-content">
								    <div class="media">
								      <div class="content">
								        <h4>Playera1</h4><a class="button is-primary">Comprar</a>
								      </div>
									  </div>
								  </div>
								</div>
							</div>
					</div>
					<div class="panel" ng-show="isSelected(4)">
						Hola que hace
					</div>

				</div>
			</div>
		</article>

</section>
