<section class="container container-movil">
    <article class="columns">
        <div class="column products_container-checkout">

            <div class="products_container">

                <!-- Inicia Product Item -->
                <div class="box" ng-repeat="item in cart.details">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-128x128">
                            <img ng-src="{{item.product.producto[0].img}}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                            <p>
                                <strong>{{item.product.name}}</strong>
                                <br>
                                <ul class="product_data">
                                    <li>
                                        <strong>Precio:</strong><span>{{item.product.price | currency}}</span>
                                    </li>
                                    <li>
                                        <strong>Talla:</strong><span>{{item.product.stock[0].size}}</span>
                                    </li>
                                    <li>
                                        <strong>Color:</strong><span>Blanco</span>
                                    </li>
                                </ul>
                            </p>
                            </div>
                            <nav class="level">
                            <div class="level-left level-left-movil">
                                <a class="level-item" ng-click="cart.removeProduct(item.product)" ng-class="{'is-disabled disabled':item.quantity == 1}">
                                    <span class="icon is-small"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                </a>
                                <span class="level-item input_quantity">
                                    <input type="text" class="input" value="{{item.quantity}}">
                                </span>
                                <a class="level-item" ng-click="cart.addProduct(item.product, 1)" >
                                    <span class="icon is-small"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                </a>
                            </div>
                            </nav>
                        </div>
                        <div class="media-right">
                            <button class="delete" ng-click="cart.deleteProduct(item.product)"></button>
                        </div>
                    </article>
                </div>
                <!-- Inicia termina Item -->

            </div>

        </div>
        <div class="column checkout_forms">
            <div class="payment_info">
                    <!-- Primera Parte -->
                    <div ng-show="checkSection(0)">
                      <form ng-submit="selectSection(1)">
                        <div class="columns">

                            <div class="column">
                                <label class="label">Nombre</label>
                                <p class="control">
                                    <input class="input" type="text" placeholder="Nombre" required ng-model="client.cname">
                                </p>
                            </div>
                            <div class="column">
                                <label class="label">Apellido</label>
                                <p class="control">
                                    <input class="input" type="text" placeholder="Apellido" required ng-model="client.clastname">
                                </p>
                            </div>

                        </div>

                        <label class="label">Dirección 1</label>
                        <p class="control">
                            <input class="input" type="text" placeholder="ej. Indepencia No. 136" required ng-model="client.address1">
                        </p>

                        <label class="label">Dirección 2 (aprt,col,No.Int)</label>
                        <p class="control">
                            <input class="input" type="text" placeholder="ej. col. Centro No.Int 4" required ng-model="client.address2">
                        </p>

                        <label class="label">País</label>
                        <p class="control">
                            <span class="select is-medium">
                                <select required ng-model="client.country" >
                                <option value="" disabled selected>País</option>
                                <option value="México">México</option>
                                </select>
                            </span>
                        </p>

                        <div class="columns">
                            <div class="column">
                                <label class="label">Ciudad</label>
                                <p class="control">
                                    <input class="input" type="text" placeholder="CDMX" required ng-model="client.city">
                                </p>
                            </div>
                            <div class="column">
                                <label class="label">Código Postal</label>
                                <p class="control">
                                    <input class="input" type="number" placeholder="ej. 09131" required ng-model="client.cp">
                                </p>
                            </div>
                        </div>

                        <label class="label">Número telefónico</label>
                        <p class="control">
                            <input class="input" type="number" placeholder="55 555 555 55" required ng-model="client.tel">
                        </p>

                        <div class="control is-grouped">
                            <p class="control">
                                <button class="button is-danger is-medium">Cancelar</button>
                            </p>
                            <p class="control">
                              <input type="submit" value="SIGUIENTE">
                                <!-- <button class="button is-primary is-medium" ng-click="">
                                    Siguiente
                                    <span class="icon is-small">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </span>
                                </button> -->
                            </p>
                        </div>
                      </form>
                    </div>
                    <!-- Fin de primera parte -->

                    <!-- Inicio de la segunda parte -->
                    <div ng-show="checkSection(1)">

                        <table class="table is-striped">
                            <thead>
                                <tr>
                                    <th>Información de envio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Nombre del Comprador:</th>
                                    <td>{{client.cname}} {{client.clastname}}</td>
                                </tr>
                                <tr>
                                    <th>Dirección 1:</th>
                                    <td>{{client.address1}}</td>
                                </tr>
                                <tr>
                                    <th>Dirección 2:</th>
                                    <td>{{client.address2}}</td>
                                </tr>
                                <tr>
                                    <th>País:</th>
                                    <td>{{client.country}}</td>
                                </tr>
                                <tr>
                                    <th>Ciudad:</th>
                                    <td>{{client.city}}</td>
                                </tr>
                                <tr>
                                    <th>Código Postal:</th>
                                    <td>{{client.cp}}</td>
                                </tr>
                                <tr>
                                    <th>Número telefónico:</th>
                                    <td>{{client.tel}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="control is-grouped">
                            <p class="control">
                                <button class="button is-info is-medium" ng-click="selectSection(0)">Modificar</button>
                            </p>
                            <p class="control">
                                <button class="button is-primary is-medium" ng-click="selectSection(2)">
                                    Siguiente
                                    <span class="icon is-small">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </p>
                        </div>

                    </div>
                    <!-- Fin de la segunda parte -->

                    <!-- Inicio de la tercera parte -->
                    <div class="card_info" ng-show="checkSection(2)">
                      <form id="card-form" ng-submit="postOrder(client)">
                        <label class="label">Nombre del tarjetahabiente</label>
                        <p class="control">
                            <input class="input" type="text" required data-conekta="card[name]" placeholder="Nombre del tarjetahabiente">
                        </p>

                        <label class="label">Número de tarjeta de crédito</label>
                        <p class="control">
                            <input class="input" type="text" required data-conekta="card[number]" placeholder="ej.4242424242424242" size="20">
                        </p>

                        <div class="columns card_date">
                            <div class="column">
                                <label class="label">CVC</label>
                                <p class="control">
                                    <input class="input" type="text" required data-conekta="card[cvc]" size="20">
                                </p>
                            </div>
                            <div class="column">
                                <label class="label">Fecha de expiración (MM/AAAA)</label>
                                <!--<p class="control">-->
                                    <div class="columns card_date_expiration">
                                        <input class="input column" type="text" required data-conekta="card[exp_month]" size="2">
                                        <span class="column slash">/</span>
                                        <input class="input column" type="text" required data-conekta="card[exp_year]" size="4">
                                    </div>
                                <!--</p>-->
                            </div>
                        </div>

                        <div class="control is-grouped">
                            <p class="control">
                                <button class="button is-info is-medium" ng-click="selectSection(1)">Atrás</button>
                            </p>
                            <p class="control">
                                <button class="button is-danger is-medium">Cancelar</button>
                            </p>
                            <p class="control">
                                <button class="button is-success is-medium" id="tokenizar" type="submit">
                                    ¡Pagar!
                                    <span class="icon is-small">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </button>
                            </p>
                        </div>
                      </form>
                    </div>
                    <!-- Fin de la tercera parte -->
            </div>
        </div>
    </article>
</section>
<script type="text/javascript">
   Conekta.setPublishableKey('key_H9Sv81Y41b7o2UuKmBs5cPw');

   var conektaSuccessResponseHandler = function(token) {
     var $form = $("#card-form");
     $form.get(0).submit();
   };
   var conektaErrorResponseHandler = function(response) {
     var $form = $("#card-form");
     $form.find("#tokenizar").prop("disabled", false);
   };

   $(function () {
     $("#card-form").submit(function(event) {
       var $form = $(this);
       $form.find("#tokenizar").prop("disabled", true);
       Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
       return false;
     });
   });
</script>
