<section class="container container-movil">
    <article class="columns">
        <div class="column products_container-checkout">

            <div class="products_container">

                <!-- Inicia Product Item -->
                <div class="box" ng-repeat="item in cart.details">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-128x128">
                            <img ng-src="{{item.product.image}}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                            <p>
                                <strong>{{item.product.name}}</strong>
                                <br>
                                <ul class="product_data">
                                    <li>
                                        <strong>Precio:</strong><span>{{item.product.price | currency}}</span>
                                    </li>
                                    <li>
                                        <strong>Talla:</strong><span>{{item.product.size}}</span>
                                    </li>
                                    <li>
                                        <strong>Color:</strong><span>Blanco</span>
                                    </li>
                                </ul>
                            </p>
                            </div>
                            <nav class="level">
                            <div class="level-left level-left-movil">
                                <a class="level-item" ng-click="cart.removeProduct(item)" ng-class="{'is-disabled disabled':item.quantity == 1}">
                                    <span class="icon is-small"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                </a>
                                <span class="level-item input_quantity">
                                    <input type="text" class="input" value="{{item.quantity}}">
                                </span>
                                <a class="level-item" ng-click="cart.addProduct(item.product)" >
                                    <span class="icon is-small"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                </a>
                            </div>
                            </nav>
                        </div>
                        <div class="media-right">
                            <button class="delete" ng-click="cart.deleteProduct(item.product.id)"></button>
                        </div>
                    </article>
                </div>
                <!-- Inicia termina Item -->

            </div>

        </div>

        <div class="column checkout_forms">
            <div class="payment_info">
                <form>
                    
                    <!-- Primera Parte -->
                    <div ng-show="checkSection(0)">

                        <div class="columns">

                            <div class="column">
                                <label class="label">Nombre</label>
                                <p class="control">
                                    <input class="input" type="text" placeholder="Nombre" ng-model="client.name">
                                </p>
                            </div>
                            <div class="column">
                                <label class="label">Apellido</label>
                                <p class="control">
                                    <input class="input" type="text" placeholder="Apellido" ng-model="client.lastName">
                                </p>
                            </div>

                        </div>

                        <label class="label">Dirección 1</label>
                        <p class="control">
                            <input class="input" type="text" placeholder="ej. Indepencia No. 136" ng-model="client.directionOne">
                        </p>

                        <label class="label">Dirección 2 (aprt,col,No.Int)</label>
                        <p class="control">
                            <input class="input" type="text" placeholder="ej. col. Centro No.Int 4" ng-model="client.directionTwo">
                        </p>

                        <label class="label">País</label>
                        <p class="control">
                            <span class="select is-medium">
                                <select ng-model="client.country" >
                                <option value="" disabled selected>País</option>
                                <option value="México">México</option>
                                </select>
                            </span>
                        </p>

                        <div class="columns">
                            <div class="column">
                                <label class="label">Ciudad</label>
                                <p class="control">
                                    <input class="input" type="text" placeholder="CDMX" ng-model="client.city">
                                </p>
                            </div>
                            <div class="column">
                                <label class="label">Código Postal</label>
                                <p class="control">
                                    <input class="input" type="text" placeholder="ej. 09131" ng-model="client.CP">
                                </p>
                            </div>
                        </div>

                        <label class="label">Número telefónico</label>
                        <p class="control">
                            <input class="input" type="text" placeholder="55 555 555 55 " ng-model="client.number">
                        </p>

                        <div class="control is-grouped">
                            <p class="control">
                                <button class="button is-danger is-medium">Cancelar</button>
                            </p>
                            <p class="control">
                                <button class="button is-primary is-medium" ng-click="selectSection(1)">
                                    Siguiente
                                    <span class="icon is-small">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </p>
                        </div>

                    </div>
                    <!-- Fin de primera parte -->

                    <!-- Inicio de la segunda parte -->
                    <div ng-show="checkSection(1)">

                        <table class="table is-striped">
                            <thead>
                                <tr>
                                    <th>Información de envio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Nombre del Comprador:</th>
                                    <td>{{client.name}} {{client.lastName}}</td>
                                </tr>
                                <tr>
                                    <th>Dirección 1:</th>
                                    <td>{{client.directionOne}}</td>
                                </tr>
                                <tr>
                                    <th>Dirección 2:</th>
                                    <td>{{client.directionTwo}}</td>
                                </tr>
                                <tr>
                                    <th>País:</th>
                                    <td>{{client.country}}</td>
                                </tr>
                                <tr>
                                    <th>Ciudad:</th>
                                    <td>{{client.city}}</td>
                                </tr>
                                <tr>
                                    <th>Código Postal:</th>
                                    <td>{{client.CP}}</td>
                                </tr>
                                <tr>
                                    <th>Número telefónico:</th>
                                    <td>{{client.number}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="control is-grouped">
                            <p class="control">
                                <button class="button is-info is-medium" ng-click="selectSection(0)">Modificar</button>
                            </p>
                            <p class="control">
                                <button class="button is-primary is-medium" ng-click="selectSection(2)">
                                    Siguiente
                                    <span class="icon is-small">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </p>
                        </div>

                    </div>
                    <!-- Fin de la segunda parte -->

                    <!-- Inicio de la tercera parte -->
                    <div class="card_info" ng-show="checkSection(2)">

                        <label class="label">Nombre del tarjetahabiente</label>
                        <p class="control">
                            <input class="input" type="text" placeholder="Nombre del tarjetahabiente">
                        </p>

                        <label class="label">Número de tarjeta de crédito</label>
                        <p class="control">
                            <input class="input" type="text" placeholder="ej.4242424242424242" size="20">
                        </p>

                        <div class="columns card_date">
                            <div class="column">
                                <label class="label">CVC</label>
                                <p class="control">
                                    <input class="input" type="text" size="20">
                                </p>
                            </div>
                            <div class="column">
                                <label class="label">Fecha de expiración (MM/AAAA)</label>
                                <!--<p class="control">-->
                                    <div class="columns card_date_expiration">
                                        <input class="input column" type="text" size="2">
                                        <span class="column slash">/</span>
                                        <input class="input column" type="text" size="4">
                                    </div>
                                <!--</p>-->
                            </div>
                        </div>

                        <div class="control is-grouped">
                            <p class="control">
                                <button class="button is-info is-medium" ng-click="selectSection(1)">Atrás</button>
                            </p>
                            <p class="control">
                                <button class="button is-danger is-medium">Cancelar</button>
                            </p>
                            <p class="control">
                                <button class="button is-success is-medium">
                                    ¡Pagar!
                                    <span class="icon is-small">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </button>
                            </p>
                        </div>

                    </div>
                    <!-- Fin de la tercera parte -->

                </form>

            </div>

        </div>

    </article>
</section>