.misFiltrosD{
  margin: 10%;
  padding: 1%;
  display: flex;
  /*align-items: center;
  justify-content: center;*/
  flex-direction: column;
  max-height: 100%;
}

.misFiltrosD section{
  padding: 2%;
  display: flex;
  align-items: flex-start;
  width: 330px;
  flex-direction:column;
  /*border: 1px solid pink;*/
}

.misFiltrosD section p{
  padding: 1%;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  /*border: 1px solid blue;*/
}

.filtroD{
  display: block;
  position: relative;
  border-radius: 5px;
  max-height: 100%;
  min-width: 325px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /*border: 1px solid black;*/
}

#coloresD input{
  opacity: 0;
}

#tallaD input{
  opacity: 0;
}


a{
  margin-left: 10px;
}

.misFiltrosD section:nth-child(2) label{

  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  transition: all 1s;
  width: 40px;
  height: 40px;
  margin-right: : 20px;
  margin-bottom: 2%;
  border-style: solid;
}

.misFiltrosD section:nth-child(2) input[type="radio"]:checked + label{
  box-shadow: 4px 4px 2px #263238;
}

.misFiltrosD section:nth-child(2) input[type="radio"] + label:hover{
  opacity: 0.5;
}


.misFiltrosD section:nth-child(3) label{
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s;
  width: auto;
  padding: 2%;
  height: 40px;
  margin-right: : 20px;
  border-style: solid;
  margin-bottom: 2%;
}


.misFiltrosD section:nth-child(3) input[type="radio"]:checked + label{
  box-shadow: 4px 4px 2px #263238;
}

.misFiltrosD section:nth-child(3) input[type="radio"] + label:hover{
  background-color: #64e9ee;
  color: white;
  font-weight: bold;
}

.misFiltrosD .icon{
  margin-right: 20px;

}

.misFiltrosD input[type="number"]{
  width: 8vw;
  min-width: 100px;
  margin-left: 20px
}

.filtroD input[type="submit"]{
  margin-bottom: 2vh;
}
