.mySliderShow{
  display: flex;
  justify-content: center;
  max-height: 60vh;
  min-height: 60vh;
}

.carrito{
  display: inline-block;
  position: relative;
  border-radius: 5px;
  max-height: 45vh;
  max-width: 48%;
  min-width:48%;
  min-height: 45vh;
  overflow: hidden;
}

.carrito:hover > .info_container{
  visibility: visible;
  opacity: 1;
}

.img-responsive{
  display: block;
  width: 100%;
  position: absolute;
  height: auto;
}

.img_container{
  position: relative;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.carrito .info_container{
  position: absolute;
  opacity: 0;
  visibility: visible;
  height: 100%;
  width: 100%;
  z-index: 999;
  transition: all .4s ease;
}

.carrito .info_container .opacity{
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
}

.carrito .info_container .opacity .info{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrito .info_container .opacity .info .btnCarrito{
  padding: 2%;
  background: #00bfa5;
  font-size: 17px;
  color: white;
  border-radius: 5px;
}
