section article.carrito{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  min-width: 353px;
  min-height: 300px;
  margin-bottom: 10vh;
}

section article div.carritoTitle{
  text-align: center;
  margin: 2%;
}

section article div.sliderVistos{
  border: 2px solid white;
  width: 80%;
  height: 50vh;
  padding: 2%;
  transition: all 2s .1s;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 343px;
  min-height: 280px;
}

section article div.sliderVistos:hover{
  border: 2px solid #b0bec5;
}

section article div.sliderVistos.nohover{
  border: 2px solid white;
  margin-right: 35px;
}

section article div h1.Mobile{
  margin-right: 25px;
}


section article div div.botonesCarrito{
    height: 33vh;
    width: 65%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    min-width: 333px;
    min-height: 245px;
}

section article div div.botonesCarritoMobile{
    height: 6vh;
    width: 16%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 50%;
}

section article div .cardsVistos{
  width: 50vw;
  overflow: hidden;
  min-width: 245px;
  min-height: 245px;
}

section article div div ul.carousel_ul{
  position: relative;
  left: 0px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width:9999px;
  padding-bottom:10px;
}

section article div div ul.carousel_ul li{
  background: grey;
  float: left;
  width: 245px;
  height: 245px;
  margin-top:10px;
  margin-left:5px;
  margin-right:5px;
  min-width: 245px;
  min-height: 245px;
}
