.containerCatalog #main #productos .imags{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /*border: 2px solid blue;*/
}

.containerCatalog #main #productos .reemplazo{
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 2px solid blue;*/
}

.containerCatalog #main #productos .imags card-component{
  margin: 3%;
  /*border: 2px solid blue;*/
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 8%;
    z-index: 1;
    overflow: hidden;
    /*border: 2px solid purple;*/
}

.sidenav .closebtn {
    position: relative;
    font-size: 30px;
    margin-left: 80%;
    color: #818181;
    /*border: 2px solid purple;*/
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav h1{
  position: relative;
  padding: 1%;
  text-decoration: none;
  font-size: 36px;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  /*border: 2px solid purple;*/
}

.misFiltros{
  margin: 3% 10% 10% 10%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*border: 2px solid blue;*/
}

.misFiltros section{
  height: 21vh;
  padding: 2%;
  display: flex;
  align-items: center;
  max-width: 200px;
  flex-direction:column;
  /*border: 2px solid red;*/
}

.misFiltros section p{
  padding: 1%;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  width: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /*border: 2px solid purple;*/
}

.misFiltros section p label.cancel{
  height: 3vh;
  width: 3vh;
  min-width:1vh;
  min-height: 1vh;
  border-radius: 4px;
  border: 2px solid white;
  color: white;
  text-align: center;
  margin: 2%;
  font-size: 12px;
}

.misFiltros section p input.cancel{
  display: none;
}

.misFiltros section p label.cancel:hover{
    border: 2px solid blue;
}

#main {
    transition: margin-left .5s;
    padding-left: 6%;
    padding-right: 5%;
    padding-top: 2vh;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
