.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 3%;
    z-index: 1;
    overflow: hidden;
}

.sidenav .closebtn {
    position: relative;
    font-size: 30px;
    margin-left: 80%;
    color: #818181;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav h1{
  position: relative;
  padding: 1%;
  text-decoration: none;
  font-size: 36px;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.misFiltros{
  margin: 3% 10% 10% 10%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.misFiltros section{
  height: 20vh;
  padding: 2%;
  display: flex;
  align-items: center;
  max-width: 200px;
  flex-direction:column;
}

.misFiltros section p{
  padding: 1%;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
}

#main {
    transition: margin-left .5s;
    margin-left: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
