header{
    margin-bottom: 3%;
}
.nav-right{
    position: relative;
}
.nav-right .input_search{
    padding-top: 2%;
    position: absolute;
    top: 100%;
    left: 30%;
    width: 70%;
}
.nav-right .input_search .input{
    border: 1px solid #00d1b2;
}
#search_box{
    display: none;
}