header{
    margin-bottom: 3%;
}
.nav-right{
    position: relative;
}
.nav-right .input_search{
    padding-top: 2%;
    position: absolute;
    top: 100%;
    left: 30%;
    width: 70%;
}
.nav-right .input_search .input{
    border: 1px solid #00d1b2;
}

nav.has-shadow{
  z-index: 9;
}

#search_box{
    display: none;
}
.modal{
    z-index: 10 !important;
}
.modal-content{
    border-radius: 5px;
}
.login_container{
    padding: 5%;
}
.login_container p{
    text-align: center;
    font-size: 1.5rem;
}
.login_container .btn_redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    margin: 2% 0;
    width: 50%;
    border: none !important;
    color: white !important;
}
.login_form{
    padding: 0 10%;
}
.badget{
    position: relative
}
.badget .cart_quantity{
    position: absolute;
    color: white;
    background: #dd4b39;
    font-size: 10px;
    width: 12px;
    top: -15%;
    right: -60%;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.facebook{
    background-color: #3b5998 !important;
}
.facebook .fa-facebook-square{
    color: white !important;
}
.google_plus{
    background-color: #dd4b39 !important;
}
