@import "_card.css";
@import "_carrucelCatalogo.css";
@import "_footer.css";
@import "_navbar.css";
@import "_catalogo.css";
@import "_detail.css";
@import "_landing.css";
@import "_profile.css";
@import "_cart.css";
@import "_filtros.css";
@import "_checkout.css";
@import "_header.css";
@import "_botonesDetalle.css";


main{
    min-height: 80vh;
}

#toast{
    visibility: hidden;
    font-size: 1.2rem;
    padding: 1% 2%;
    min-width: 250px;
    margin-left: -125px;
    left: 85%;
    top: 7%;
    font-family: 'Cabin';
    min-width: 10%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 5px;
    z-index: 9999;
    position: fixed;
}
.visible{
    visibility: visible !important;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {left: 100%; opacity: 0;}
    to {left: 85%; opacity: 1;}
}

@keyframes fadein {
    from {left: 100%; opacity: 0;}
    to {left: 85%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {left: 85%; opacity: 1;}
    to {left: 100%; opacity: 0;}
}

@keyframes fadeout {
    from {left: 85%; opacity: 1;}
    to {left: 100%; opacity: 0;}
}
