<div class="card_container">
    <div class="info_container">
        <div class="info_opacity">
            <div class="info">

                <p class="data name">{{$ctrl.product.nombre}}</p>
                <div class="data">
                    <div class="cuadrito" style="background: white"></div cla>
                    <div class="cuadrito" style="background: black"></div cla>
                    <div class="cuadrito" style="background: red"></div cla>
                </div>
                <p class="data price">{{$ctrl.product.precio | currency}}</p>
                
                <button class="btn_card" ng-click="cart.addProduct($ctrl.product)">Agregar al Carrito</button>
                <a href="" class="mas_info">Más Información</a>
            </div>
        </div>
    </div>
    <div class="img_container">
        <img class="img-responsive" id="product_img" ng-src="{{$ctrl.product.imagen}}" alt="img_producto">
    </div>
</div>