<article class="card_container">
    <div class="info_container">
        <div class="info_opacity">
            <div class="info">

                <p class="data name">Nombre de la playera</p>
                <div class="data">
                    <div class="cuadrito" style="background: white"></div cla>
                    <div class="cuadrito" style="background: black"></div cla>
                    <div class="cuadrito" style="background: red"></div cla>
                </div>
                <p class="data price">$234.00</p>
                
                <button class="btn_card">Agregar al Carrito</button>
                <a href="" class="mas_info">Más Información</a>
            </div>
        </div>
    </div>
    <div class="img_container">
        <img class="img-responsive" id="product_img" src="/assets/images/playera4.jpg" alt="img_producto">
    </div>
</article>

<article class="card_container">
    <div class="info_container">
        <div class="info_opacity">
            <div class="info">

                <p class="data name">Nombre de la playera</p>
                <div class="data">
                    <div class="cuadrito" style="background: white"></div cla>
                    <div class="cuadrito" style="background: black"></div cla>
                    <div class="cuadrito" style="background: red"></div cla>
                </div>
                <p class="data price">$234.00</p>
                
                <button class="btn_card">Agregar al Carrito</button>
                <a href="" class="mas_info">Más Información</a>
            </div>
        </div>
    </div>
    <div class="img_container">
        <img class="img-responsive" id="product_img" src="/assets/images/playera4.jpg" alt="img_producto">
    </div>
</article>