
    <!-- Inicio del Catalogo -->
    <head>
      <meta charset="utf-8">
      <title>Geek Shop</title>
      <link rel="stylesheet" href="../../../assets/css/main.css">
      <link rel="stylesheet" href="../../../assets/node_modules/bulma/css/bulma.css">
      <script src="../../../assets/node_modules/angular/angular.js"></script>
      <script src="/app/services/PaginationService.js"></script>
      <link rel="stylesheet" href="../../../assets/css/_filtros.css">


      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    </head>
        <div class="container is-fluid">
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
            <div class="misFiltros">
              <section>
                <h1>FILTROS</h1>
              </section>
              <section>
                <p>Color</p>
                <article class="filtroC" id="colores">
                  <button type="button" name="button" style="background: #ff1744"></button>
                  <button type="button" name="button" style="background: #6a1b9a"></button>
                  <button type="button" name="button" style="background: #536dfe"></button>
                  <button type="button" name="button" style="background: #03a9f4"></button>
                  <button type="button" name="button" style="background: #00796b"></button>
                  <button type="button" name="button" style="background: #76ff03"></button>
                  <button type="button" name="button" style="background: #ffea00"></button>
                  <button type="button" name="button" style="background: #f8a65"></button>
                </article>
              </section>
              <section>
                <p>Talla</p>
                <article class="filtroC" id="talla">
                  <button type="button" name="button">XS</button>
                  <button type="button" name="button">S</button>
                  <button type="button" name="button">M</button>
                  <button type="button" name="button">L</button>
                  <button type="button" name="button">XL</button>
                  <button type="button" name="button">XXL</button>
                </article>
              </section>
              <section>
                <p>Precio</p>
                <article class="filtroC" id="precio">
                  <div data-role="rangeslider">
                    <input type="range" name="price-min" id="price-min" value="200" min="0" max="500">
                  </div>
                </article>
              </section>
            </div>
          </div>
          <div id="main">
            <section>
              <div class="columns">
                <div class="column">
                  <p>MUJERES  TECNOLOGIA</p>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <span style="font-size:30px;cursor:pointer" ng-click="openNav()">&#9776; FILTROS</span>
                </div>
              </div>
            </section>
            <section>
              <article class="imags">
                <div class="columns">
                  <div class="column">
                    <card-component></card-component>
                  </div>
                  <div class="column">
                    <card-component></card-component>
                  </div>
                  <div class="column">
                    <card-component></card-component>
                  </div>
                  <div class="column">
                    <card-component></card-component>
                  </div>
                </div>
              </article>
              <article class="paginacion">
               <div ng-app="geekshop">
                     <div ng-controller="ExampleController as vm" class="container">
                         <div class="text-center">
                             <h1>AngularJS MI PAGINACION</h1>

                             <!-- items being paged -->
                             <div ng-repeat="item in vm.items">Item {{item}}</div>

                             <!-- pager -->
                             <div class="pagination">
                               <ul ng-if="vm.pager.pages.length" class="pagination-list">
                                   <li ng-class="{disabled:vm.pager.currentPage === 1}">
                                       <a ng-click="vm.setPage(1)" class="pagination-previous">First</a>
                                   </li>
                                   <li ng-class="{disabled:vm.pager.currentPage === 1}">
                                       <a ng-click="vm.setPage(vm.pager.currentPage - 1)" class="pagination-previous">Previous</a>
                                   </li>
                                   <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
                                       <a ng-click="vm.setPage(page)" class="pagination-link">{{page}}</a>
                                   </li>
                                   <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                                       <a ng-click="vm.setPage(vm.pager.currentPage + 1)" class="pagination-next">Next</a>
                                   </li>
                                   <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                                       <a ng-click="vm.setPage(vm.pager.totalPages)" class="pagination-next">Last</a>
                                   </li>
                               </ul>
                             </div>
                         </div>
                     </div>
                 </div>
              </article>
              <!--preguntar a david-->
              <article class="reemplazo">
                <div class="columns is-mobile">
                  <div class="column is-4 is-offset-8">
                    <nav class="pagination">
                      <ul class="pagination-list">
                        <li><a class="pagination-link is-current">1</a></li>
                        <li><a class="pagination-link">2</a></li>
                        <li><a class="pagination-link">3</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </article>
            </section>
            <section>
              <article class="columns is-mobile">
                <div class="column is-half is-offset-one-quarter">
                  <h1>YA VISTOS</h1>
                </div>
                </div>
              </article>
              <article class="mySliderShow">
                <div class="carrito">
                     <div class="info_container">
                       <div class="opacity">
                         <div class="info">
                           <button type="button" class="btnCarrito">A</button>
                          <span style="font-size:30px;cursor:pointer" ng-click="next()"> Puchame!</span>
                         </div>
                       </div>
                     </div>
                     <div class="img_container" id="imgsCarrito">
                         <span><img src="../../../assets/images/carrito1.jpg" alt="carrito1" class="img-responsive"></span>
                         <span><img src="../../../assets/images/carrito2.jpg" alt="carrito2" class="img-responsive"></span>
                         <span><img src="../../../assets/images/carrito3.jpg" alt="carrito3" class="img-responsive"></span>
                     </div>
                </div>
              </article>
            </section>
          </div>
        </div>
<!-- Fin del Catalogo -->
<!-- <section class="container">
  <article class="columns">
    <card-component class="column is-3" align="center" product = "p" ng-repeat="p in info"></card-component>
  </article>
</section> -->
