<!-- Inicio del Catalogo -->
<head>
  <meta charset="utf-8">
  <title>Geek Shop</title>
  <link rel="stylesheet" href="../../../assets/css/main.css">
  <link rel="stylesheet" href="../../../assets/node_modules/bulma/css/bulma.css">
  <script src="../../../assets/node_modules/angular/angular.js"></script>
  <script src="../../../assets/node_modules/jquery/dist/jquery.js"></script>
  <!-- <script src="/app/services/PaginationService.js"></script> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <div class="containerCatalog">
      <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
          <h1>FILTROS</h1>
        <div class="misFiltros">
          <section>
            <p>
                  Color
                  <input type="radio" name="filColors" value="" ng-model="filtroC.colors.name" id="color0" class="cancel">
                  <label for="color0" class="cancel">X</label>
             </p>
            <article class="filtroC" id="colores">
              <input type="radio" name="filColors" value="red" ng-model="filtroC.colors.name" id="color1" >
              <label for="color1" style="background: #ff1744" ></label>

              <input type="radio" name="filColors" value="purple" ng-model="filtroC.colors.name" id="color2">
              <label for="color2" style="background: #6a1b9a"></label>

              <input type="radio" name="filColors" value="wer" ng-model="filtroC.colors.name" id="color3">
              <label for="color3" style="background: #fafafa"></label>

              <input type="radio" name="filColors" value="blue" ng-model="filtroC.colors.name" id="color4">
              <label for="color4" style="background: #03a9f4"></label>

              <input type="radio" name="filColors" value="green" ng-model="filtroC.colors.name" id="color5">
              <label for="color5" style="background: #00796b"></label>

              <input type="radio" name="filColors" value="lemon" ng-model="filtroC.colors.name" id="color6">
              <label for="color6" style="background: #76ff03"></label>

              <input type="radio" name="filColors" value="yellow" ng-model="filtroC.colors.name" id="color7">
              <label for="color7" style="background: #ffea00"></label>

              <input type="radio" name="filColors" value="wer" ng-model="filtroC.colors.name" id="color8">
              <label for="color8" style="background: #fafafa"></label>
            </article>
          </section>
          <section>
            <p>
                  Talla
                  <input type="radio" name="filTallas" value="" ng-model="filtroT.stock.size" id="talla0" class="cancel">
                  <label for="talla0" class="cancel">X</label>
             </p>
            <article class="filtroC" id="talla">
              <input type="radio" name="filTallas" value="EXTRACHICA" ng-model="filtroT.stock.size" id="talla1" >
              <label for="talla1">XS</label>

              <input type="radio" name="filTallas" value="CHICA" ng-model="filtroT.stock.size" id="talla2" >
              <label for="talla2">S</label>

              <input type="radio" name="filTallas" value="MEDIANA" ng-model="filtroT.stock.size" id="talla3" >
              <label for="talla3">M</label>

              <input type="radio" name="filTallas" value="MAS" ng-model="filtroT.stock.size" id="talla4" >
              <label for="talla4">L</label>

              <input type="radio" name="filTallas" value="GRANDE" ng-model="filtroT.stock.size" id="talla5" >
              <label for="talla5">XL</label>

              <input type="radio" name="filTallas" value="EXTRAGRANDE" ng-model="filtroT.stock.size" id="talla6" >
              <label for="talla6">XXL</label>
            </article>
          </section>
          <section>
             <p>
                Precio
                <label class="cancel" ng-click="setearRan(0,600)" id="priceLabel">X</label>
             </p>
            <article class="filtroC" id="precio">
              <ul>
                <li><input type="range" id="rangeA" ng-model="minimo" min="0" max="600" step="5" value="0"></li>
                <li>MINIMO: <p>{{minimo}}</p></li>
                <li><input type="range" id="rangeB" ng-model="maximo" min="{{minimo}}" max="600" step="5" value="600"></li>
                <li>MAXIMO: <p>{{maximo}}</p></li>
              </ul>
            </article>
          </section>
        </div>
      </div>
      <div id="main">
        <section id="titulos">
          <div class="columns">
            <div class="column">
              <p>MUJERES  TECNOLOGIA</p>
            </div>
          </div>
          <div class="columns">
            <div class="column is-hidden-touch">
              <span style="font-size:30px;cursor:pointer" ng-click="openNav()">&#9776; FILTROS</span>
            </div>
          </div>
        </section>
        <section id="productos">
          <article class="imags">
            <card-component ng-repeat="prod in info | filter:filtroC | filter:filtroT | filter:RangeM" product="prod"></card-component>
          </article>
        </section>
        <section id="slider">
          <article class="carrito">
            <div class="carritoTitle">
              <h1 class="title is-2">YA VISTOS</h1>
            </div>
            <div class="sliderVistos">
              <div class="botonesCarrito">
                <span id='left_scroll'><i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i></span>
                <span id='right_scroll'><i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i></span>
              </div>
              <div class="cardsVistos">
                <ul class='carousel_ul'>
                    <li ng-repeat="prod in info"><card-component product="prod" ng-swipe-right="LeftS()" ng-swipe-left="RightS()"></card-component></li>
                </ul>
              </div>
            </div>
          </article>
        </section>
      </div>
    </div>
<!-- Fin del Catalogo -->
