<!-- Inicio del Navbar -->
    <header>
        <nav class="nav has-shadow">
            <div class="container">
                <div class="nav-left">
                    <a href="#/" class="nav-item">
                        <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
                    </a>
                </div>
                <div class="nav-center">
                    <a class="nav-item is-tab is-hidden-mobile" ng-class="{'is-active':checkTab(1)}">Mujeres</a>
                    <a class="nav-item is-tab is-hidden-mobile" ng-class="{'is-active':checkTab(2)}">Hombres</a>
                    <a href="#/catalogo" class="nav-item is-tab is-hidden-mobile" ng-class="{'is-active':checkRoute('/catalogo')}">Catalogo</a>
                    <a class="nav-item is-tab is-hidden-mobile" ng-class="{'is-active':checkTab(3)}">UMaker!</a>
                </div>
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>

                <div class="nav-right nav-menu">
                    <a class="nav-item is-tab is-hidden-tablet">Home</a>
                    <a class="nav-item is-tab is-hidden-tablet">Features</a>
                    <a href="#/catalogo" class="nav-item is-tab is-hidden-tablet">Catalogo</a>
                    <a class="nav-item is-tab is-hidden-tablet">About</a>
                    <a class="nav-item is-tab is-hidden-mobile" id="search"><i class="fa fa-search" aria-hidden="true"></i></a>
                    <a href="#/profile/1" class="nav-item is-tab">
                        <figure class="image is-16x16" style="margin-right: 8px;">
                        <!-- <img src="http://bulma.io/images/jgthms.png"> -->
                        <span class="icon iconSuperior">
                  					<i class="fa fa-user fa-5x"></i>
                				</span>
                        </figure>
                        Profile
                    </a>
                    <a class="nav-item is-tab" id="login">Inicia sesión</a>
                    <a class="nav-item is-tab">Log out</a>
                    <a class="nav-item is-tab" id="cd-cart-trigger">
                        <span class="badget">
                            <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
                            <span class="cart_quantity">{{cantidad()}}</span>
                        </span>
                    </a>
                    <div class="input_search is-hidden-mobile" id="search_box">
                        <input class="input" type="text" placeholder="Buscar">
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- Fin del Navbar -->

    <!-- Inicio Login -->

        <div class="modal">
            <div class="modal-background"></div>
                <div class="modal-content">
                    <!-- Any other Bulma elements you want -->
                    <div class="login_container">

                        <p>
                            Inicia Sesión con redes sociales
                        </p>

                        <div class="btn_redes">

                            <a class="button is-large btn facebook">
                                <span class="icon is-medium">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                </span>
                                <span>facebook</span>
                            </a>
                            <a class="button is-large btn google_plus">
                                <span class="icon is-medium">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </span>
                                <span>Google</span>
                            </a>

                        </div>
                        <hr>
                        <div class="login_form">
                            <form>
                                <label class="label">Username</label>
                                <p class="control">
                                    <input class="input" type="text" placeholder="Username">
                                </p>
                                <label class="label">Password</label>
                                <p class="control">
                                    <input class="input" type="password" placeholder="Password">
                                </p>
                                <p class="control">
                                    <button class="button is-success is-medium">
                                        Login
                                    </button>
                                </p>
                            </form>
                        </div>

                    </div>
                </div>
            <button class="modal-close" id="close_login"></button>
        </div>

    <!-- Fin Login -->
